<template>
    <div id="app">
        <h2>Meet our lovely kittens!</h2>
        <ul>
            <li v-for="kitten in kittens" :class="{'dead': kitten.dead}">
                {{kitten.name}}
            </li>
        </ul>
        <Button @buttonClicked="killKitten"/>
        <p>{{ message }}</p>
    </div>
</template>

<script>

    import Button from './Button';
    import { mapGetters } from 'vuex';

    export default {
        components: {
            Button
        },
        data() {
            return {
                count: 0,
                message: `No ... Don't click the button!`
            }
        },
        methods: {
            killKitten() {
                if (this.kittens[this.count]) {
                    this.kittens[this.count].dead = true;
                    this.count += 1;
                }

                if(this.hasKittens) {
                    this.message = `${this.count} kittens are now dead because of you!`;
                    return;
                }

                this.message = `All of the lovelly kittens are now dead because of you!`;
            },
        },
        computed: {
            ...mapGetters([
                'kittens',
            ]),
            hasKittens() {
                return this.kittens.filter( kitten => kitten.dead === true).length < this.kittens.length;
            }
        },
        beforeCreate() {
            this.$store.dispatch('fetchAll');
        }
    }
</script>
