<template>
    <span>
        <button class="big-red-button" @click="killKitten">What does this button do?</button>
    </span>
</template>

<script>
    export default {
        name: 'Button',
        methods: {
            killKitten() {
                this.$emit('buttonClicked');
            },
        },
    };
</script>
